$system-font: (
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  'Open Sans',
  'Helvetica Neue',
  sans-serif
);

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $system-font;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
}
