node_modules
coverage
config.*


# --------------------------------------------------|
#   Ignore Builds                                   |
# --------------------------------------------------|

build


# --------------------------------------------------|
#   MacOS Finder Files                              |
# --------------------------------------------------|

**/.DS_Store
*.DS_Store


# --------------------------------------------------|
#   Logs                                            |
# --------------------------------------------------|

logs
*.log
npm-debug.log*


# --------------------------------------------------|
#   IDEs                                            |
# --------------------------------------------------|

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
jsconfig.json


# --------------------------------------------------|
#   Runtime data                                    |
# --------------------------------------------------|

pids
*.pid
*.seed
*.pid.lock


# --------------------------------------------------|
#   Optional Cache Files                            |
# --------------------------------------------------|

.npm
.node_repl_history
