.root {
  margin-bottom: 3.5rem;
}

.mono {
  font-family: menlo, 'Courier New', Courier, monospace;
}

.title {
  margin-bottom: 1rem;
}

.link {
  text-decoration: none;
  color: #d02d52;
}

.link:hover, .link:focus {
  text-decoration: underline;
}

.data {
  box-sizing: border-box;
  display: block;
  max-width: 708px;
  overflow: auto;
  word-wrap: break-word;
  font-family: menlo, 'Courier New', Courier, monospace;
}

.methodName {
  display: inline-block;
  padding: 7.5px 15px;
  background: #d02d52;
  color: #fff;
}
